/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
    outline:  0 !important;

}
    


    body{
        background-color: rgb(53, 52, 52);
    }
/*------------------------------ navbar part  ---------------------------------*/
/* .navbar{
    position: relative;
} */
.navbar-nav{
    cursor: pointer;
     margin-left: 50%;
     column-gap: 10px;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 600;
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(31,200,254,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .navbar-brand span{
    color: rgb(196, 191, 191);
} */
.nav-link{
    /* color: white; */
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(16,209,177,1) 100%);
    transition: all 2s linear;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
}
.nav-link:hover{
    /* color: rgb(179, 178, 178); */
   
    transform: scale(1.2);
}



/*---------------------- image -------------------*/
#imagePart{
    padding: 20px 0;

}
/* #imagePart .left{
    text-align: center;
    margin: auto 0;
} */


.imageText{
    color: white;
    max-width: 450px;
    text-align: center;
    
}
.imageText p{
    max-width: 450px;
    font-size: 18px;
    line-height: 26px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
}
.imageText .left{
    text-align: center;
}
.imageText span{
    color:rgb(62, 244, 250);
}
.design{
    position: relative;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
}

/* .circle.circle-one {
    right: -60px;
    width: 400px;
    background-color: rgb(53, 52, 52);
} */

.circle.circle-two {
    right: -20px;
    top: 12px;
    width: 370px;
    background-color: rgb(29, 28, 28);
    background-image: url(../Images/oishee3.png);
    background-repeat: no-repeat;
    object-fit: cover;
    border: 10px solid white;
     box-shadow: 
    0 0 16px white,
    inset 0 0 16px white,
    0 0 32px rgb(62, 244, 250),
    inset 0 0 32px rgb(62, 244, 250),
    0 0 64px rgb(62, 244, 250),
    inset 0 0 64px rgb(62, 244, 250);
    animation: round 3s infinite;
}
@keyframes round{
    0%{
        box-shadow: 
    0 0 16px white,
    inset 0 0 16px white,
    0 0 32px rgb(62, 244, 250),
    inset 0 0 32px rgb(62, 244, 250),
    0 0 64px rgb(62, 244, 250),
    inset 0 0 64px rgb(62, 244, 250);
    animation: round 3s infinite;
 }
    25%{
        box-shadow: 
    0 0 20px white,
    inset 0 0 20px white,
    0 0 36px rgb(62, 244, 250),
    inset 0 0 36px rgb(62, 244, 250),
    0 0 68px rgb(62, 244, 250),
    inset 0 0 68px rgb(62, 244, 250);
    animation: round 3s infinite;
 }
 50%{
    box-shadow: 
    0 0 24px white,
    inset 0 0 24px white,
    0 0 40px rgb(62, 244, 250),
    inset 0 0 40px rgb(62, 244, 250),
    0 0 72px rgb(62, 244, 250),
    inset 0 0 72px rgb(62, 244, 250);
    animation: round 3s infinite;
 }
 100%{
    box-shadow: 
    0 0 16px white,
    inset 0 0 16px white,
    0 0 32px rgb(62, 244, 250),
    inset 0 0 32px rgb(62, 244, 250),
    0 0 64px rgb(62, 244, 250),
    inset 0 0 64px rgb(62, 244, 250);
    animation: round 3s infinite;
 }

}

/*------------------- introduction part  ----------------------*/
#intro{
    padding: 400px 0 0;
}

.runningText{
    display: flex;

}
/* .runningText .staticText{
    font-size: 30px;
    font-weight: 400;
} */

.dynamicText{
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}
.dynamicText span{
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(31,200,254,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dynamicText li{
    
    font-size: 30px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}

.dynamicText li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid blue;
    animation: typing 3s steps(10) infinite;
    background-color: rgb(53, 52, 52);
}

@keyframes typing{
    40%,60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}

.wrapper{
    column-gap: 100px;
    color: white;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact a{
   color: rgb(196, 191, 191);
   font-size: 14px;
   line-height: 20px;
}


/*--------------------- contact section  -------------------------*/
#contactPart{
    color: white;
    padding: 50px 0;
}
#contactPart h1{
    display: inline;
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(31,200,254,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid rgba(31,200,254,1);
    font-size: 30px;
   
}
#contactPart i{
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(31,200,254,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
#contactPart h2{
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(31,200,254,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 700;

}
#contactPart p{
    font-size: 16px;
    font-weight: 400;

}
.qsPart{
    padding-top: 50px;
}
.sendingText h2{
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(31,200,254,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 700;

}
.contactLink{
    padding-top: 50px;
}
.contactLink i{
    font-size: 40px;
    padding: 0 0 10px;
}

.contactLink h3{
    font-size:20px;
    font-weight: 600;
    color: rgb(0, 204, 255);
}
.contactLink a{
  color: white;
}
.sendingText{
    padding-top: 50px;
}
.form{
    padding-top: 20px;
    max-width:50%;
    margin: 0 auto;
    gap: 10px;
}
.editInput{
    border: 2px solid white;
    box-shadow: 
    0 0 10px rgb(62, 244, 250);
    /* inset 0 0 5px rgb(62, 244, 250); */
    /* 0 0 10px rgb(62, 244, 250); */
    /* inset 0 0 10px rgb(62, 244, 250); */
    /* transition: 2s; */
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
}
.customBtn{
    padding: 8px;
    border-radius: 10px;
    background:rgb(0, 204, 255);
    border: 1px solid white;
}

/*------------------------ service part  -----------------------------*/

#servicePart{
    padding: 50px 0;
 }
 #servicePart .row{
    text-align: center;
    margin-top: 50px;
    row-gap: 24px;
 }
 #servicePart .row .child{
    cursor: pointer;
   border-radius: 20px;
   border: 4px solid white;
   box-shadow: 
    0 0 5px white,
    inset 0 0 5px rgb(62, 244, 250);
    /* 0 0 10px rgb(62, 244, 250); */
    /* inset 0 0 10px rgb(62, 244, 250); */
    /* transition: 2s; */
   padding: 50px 30px 47px;
   transition: all linear 0.4s;
 }

 #servicePart .row .child:hover{
    box-shadow: 
    0 0 10px white,
    /* inset 0 0 10px white, */
    0 0 15px rgb(62, 244, 250);
    /* inset 0 0 10px rgb(62, 244, 250); */
    transition: 2s;
    /* -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0px 0px 10px 2px rgba(255, 253, 253, 0.25);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.25); */
       
}

 #servicePart .row img{
    margin-bottom: 40px;   
}
 #servicePart .row h3{
    font-size: 20px;
    font-weight: 700;
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(31,200,254,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto 20px;
}
 #servicePart .row p{
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    line-height: 26px;
    margin: 0 auto;
}
#servicePart .title{
    text-align: center;
}
#servicePart .title h2{
    max-width: 492px;
    font-size:30px;
    font-weight: 700;
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(31,200,254,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto 20px;
}
#servicePart .title p{
    max-width: 609px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    margin: 0 auto;
}

/*------------------------- work part  ----------------------------*/
#workPart{
    padding: 50px 0;

}
#workPart .row{
    row-gap: 20px;
    padding: 60px 0;
}
#workPart .child{
    cursor: pointer;
    border: 4px solid white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 
    0 0 10px white,
    inset 0 0 10px rgb(62, 244, 250),
    0 0 20px rgb(62, 244, 250);
    /* inset 0 0 20px rgb(62, 244, 250); */
    /* transition: 2s; */
}

#workPart .row .child img{
    max-width: 100%;
   border-radius: 0 0 20px 20px;
}
#workPart .row .child h3{
    font-size: 22px;
    font-weight: 700;
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(31,200,254,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
}
#workPart .row .child p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 26px;
    margin-bottom: 30px;
}
#workPart .title{
    text-align: center;
}
#workPart .title h2{
    max-width: 492px;
    font-size:30px;
    font-weight: 700;
    background: rgb(244,249,248);
    background: radial-gradient(circle, rgba(244,249,248,1) 0%, rgba(31,200,254,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto 20px;
}
#workPart .title p{
    max-width: 609px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    margin: 0 auto;
}
 